@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Markazi+Text:wght@500&display=swap');

:root {
    /* Colores */
    --primary-color-green: #495e57;
    --primary-color-yellow: #f4ce14;
    --secondary-color: #ee9972;
    --secondary-color: #fbdabb;
    --ligth-color: #edefee;
    --dark-color: #333;

    /* Tipografía */
    --font-markazi: "Markazi Text", serif;
    --font-karla: "Karla", sans-serif;
    --font-size-base: 1.6rem; /* 16px */
    --font-size-small: 1.2rem; /* 12px */
    --font-size-large: 2.4rem; /* 24px */

    --spacing-small: 0.8rem; /* 8px */
    --spacing-medium: 1.6rem; /* 16px */
    --spacing-large: 2.4rem; /* 24px */
  }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body{
    font-family: var(--font-markazi);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-markazi);
}

p{
  font-family: var(--font-karla);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  font-family: var(--font-karla);
}

/* HEADER */
.topbar{
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 6.4rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 104rem;
  padding: 1.6rem;
}

.logo {
  height: 50px;
}

.nav, ul {
  display: flex;
}


ul li {
  margin-left: 1.6rem;
  color: inherit;
}

ul li a {
  margin-left: 1.6rem;
  color: black;
  text-decoration: none;
  font-family: Karla;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .topbar {
    justify-content: space-between;
    background-color: white;
    padding: 1.6rem 1.6rem;
    display: flex;
    align-items: center;
    height: 6.4rem;
    width: -webkit-fill-available;
    margin: 0 auto;
    position: fixed;
    margin-bottom: 96px;
  }
  .menu-toggle {
    display: block;
  }

  .menu-list {
    position: fixed;
    top: 6.4rem;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1.6rem;
    display: none;
  }

  .nav.open .menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  ul li a {
    margin-left: 1.6rem;
    color: #495e57;
    text-decoration: none;
    font-family: Karla;
    font-size: 1.6rem;
  }
}


/* HERO SECTION */
.hero-background {
  background: #495e57;
  height: 100%;
  display: flex;
}

.hero {
  height: 100%;
  padding: 3.2rem 0;
  display: grid;
  align-items: center;
  grid-column-gap: 3.2rem;
  grid-template: "info image";
  grid-template-columns: 60fr 40fr;
  max-width: 104rem;
  margin: 0 auto;
}

.title {
  color: #f4ce14;
  font-size: 5.6rem;
  line-height: 0.8rem;
}

.subtitle {
  margin: 2.6rem 0;
  color: white;
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
  margin: 1.6rem 0;
}

.image {
  grid-area: image;
  width: 100%;
  height: 32rem;
  justify-self: end;
  border-radius: 1.6rem;
  object-fit: cover;
}

.info {
  grid-area: info;
}

@media screen and (max-width: 767px) {
  .hero-background {
    background: #495e57;
    height: 100%;
    display: flex;
  }

  .hero {
    height: 100%;
    padding: 3.2rem 1.6rem;
    display: grid;
    align-items: center;
    grid-column-gap: 3.2rem;
    grid-template: "info " "image";
    grid-template-columns: 1fr;
    max-width: 104rem;
    margin: 0 auto;
    margin-top: 96px;
  }

  .title {
    color: #f4ce14;
    font-size: 5.2rem;
    line-height: 0.8rem;
  }

  .subtitle {
    color: white;
    font-size: 3.6rem;
  }

  p {
    color: white;
  }

  .image {
    grid-area: image;
    width: 100%;
    height: 16rem;
    justify-self: middle;
    border-radius: 16px;
    object-fit: cover;
    margin-top: 1rem;
  }

  .info {
    grid-area: info;
  }
}


/* MENU SECTION */
.specials{
  height: 100%;
  padding: 4rem 0;
  max-width: 104rem;
  margin: 0 auto;
}

.header-container{
  display: grid;
  align-items: center;
  grid-column-gap: 3.2rem;
  grid-template: info image;
  grid-template-columns: 85fr 15fr;
  margin-bottom: 3.2rem;
}

.header-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specials-title{
  font-size: 3.6rem;
  line-height: 1.6rem;
}


@media screen and (max-width: 767px) {
  .specials {
    height: 100%;
    padding: 4rem 0;
    max-width: 104rem;
    margin: 0 auto;
  }

  .header-container {
    display: grid;
    align-items: center;
    grid-column-gap: 3.2rem;
    grid-template: "info image";
    grid-template-columns: 85fr 15fr;
    margin-bottom: 3.2rem;
    padding: 0 1.6rem;
  }

  .header-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .specials-title {
    line-height: 1rem;
  }
}
 /* -- FOOD CARD -- */
.food-card {
  background: #edefee;
  border-radius: 16px;
  height: 100%;
  min-height: 43.2rem;
  width: 28.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.food-card-image {
  width: 100%;
}

.food-card-image > img{
  height: 20rem;
}

.food-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  color: black;
}

.food-price {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: #ee9972;
}

.food-card-description {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  color: #495E57;
}

.food-card-body {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.food-card-header {
  flex-grow: 1;
}

.food-card-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.food-card-delivery {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  margin-top: 1rem;
}

.food-delivery-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0.5rem 0 0 ;
  color: black;
}


@media screen and (max-width: 767px) {
  .food-card {
    background: #edefee;
    border-radius: 1.6rem;
    height: 100%;
    min-height: 43.2rem;
    width: 28.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
  }
}






/* TESTIMONIAL SECTION */
.testimonial-background {
  background: #495e57;
}

.testimonials {
  height: 100%;
  padding: 3.2rem 0;
  max-width: 104rem;
  margin: 0 auto;
}

.testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 85fr 15fr;
  margin-bottom: 3.2rem;
}

.testimonials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial-title {
  color: white;
  line-height: 1rem;
}

@media screen and (max-width: 767px) {
  .testimonials-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}


/* testimonial card */
.testimonial-card {
  background: white;
  border-radius: 1.6rem;
  height: 100%;
  min-height: 16rem;
  width: 28.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.testimonial-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4a4a4a;
  font-size: 14px;
}

.testimonial-card-author {
  color: black;
  margin-left: 1.6rem;
  font-weight: bold;
}

.testimonial-card-container {
  display: flex;
  padding: 1.6rem 0;
}

.testimonial-profile-picture {
  border-radius: 5px;
  width: 50px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .testimonial-card {
    background: white;
    border-radius: 1.6rem;
    height: 100%;
    min-height: 16rem;
    width: 28.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
  }
}












/* FOOTER */
.footer {
  background: #495e57;
  height: 100%;
  width: 100%;
}

.footer-container {
  display: grid;
  padding: 3.2rem 0;
  max-width: 104rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  grid-template-areas: "icon sitemap contact social";
  grid-column-gap: 2.4rem;
}

.footer-logo {
  height: 17rem;
  object-fit: contain;
}

.footer-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  margin: 0 0 1.6rem 0;
}
.footer-site-map {
  grid-area: sitemap;
  align-self: start;
}

.footer-contact {
  grid-area: contact;
}

.footer-social {
  grid-area: social;
}

.footer-item {
  margin: 0.8rem 0;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  display: flex;
}

.footer-item:hover {
  animation-name: colorChange;
  animation-duration: 1s;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  100% {
    color: #f4ce14;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background: #495e57;
    height: 100%;
    width: 100%;
  }

  .footer-container {
    display: grid;
    padding: 3.2rem 0rem;
    margin: 0 auto;
    grid-template-columns: 40fr 60fr;
    height: 100%;
    width: 100%;
    grid-template-areas: "icon sitemap";
    grid-column-gap: 0.4rem;
  }

  .footer-logo {
    height: 17rem;
    object-fit: contain;
    align-self: center;
    justify-self: center;
  }

  .footer-title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    margin: 0 0 1.6rem 0;
  }
  .footer-site-map {
    grid-area: sitemap;
    align-self: start;
  }

  .footer-contact {
    grid-area: contact;
    display: none;
  }

  .footer-social {
    grid-area: social;
    display: none;
  }

  .footer-item {
    margin: 0.8rem 0;
    text-decoration: none;
    color: white;
    display: flex;
  }

  .footer-item:hover {
    animation-name: colorChange;
    animation-duration: 1s;
  }

  @keyframes colorChange {
    0% {
      color: white;
    }
    100% {
      color: #f4ce14;
    }
  }
}